@font-face {
	font-family: 'fredoka';
	src: url(../../public/fonts/Fredoka-Light.ttf);
	font-weight: 200;
}

@font-face {
	font-family: 'fredoka';
	src: url(../../public/fonts/Fredoka-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'fredoka';
	src: url(../../public/fonts/Fredoka-Medium.ttf);
	font-weight: 600;
}

@font-face {
	font-family: 'fredoka';
	src: url(../../public/fonts/Fredoka-SemiBold.ttf);
	font-weight: 800;
}

@font-face {
	font-family: 'fredoka';
	src: url(../../public/fonts/Fredoka-Bold.ttf);
	font-weight: 900;
}