<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="index.html" class="nav-link">Home</a></li>
            <li><a href="feature" class="nav-link">Features</a></li>
            <li><a href="" class="nav-link link-active">About</a></li>
            <li><a href="contact_us" class="nav-link">Contact</a></li>
        </ul>
    </nav>
</header>