<header role="banner">
    <nav class="navbar" role="navigation">
        <ul class="nav-links" role="list">
            <li><a href="index.html" class="nav-link" role="link">Home</a></li>
            <li><a href="feature" class="nav-link" role="link">Features</a></li>
            <li><a href="about_us" class="nav-link" role="link">About</a></li>
            <li><a href="" class="nav-link link-active" role="link">Contact</a></li>
        </ul>
    </nav>
</header>
<main role="main">
    <div class="content" role="contentinfo">
        <div class="social-media">
            <h1 class="title" role="heading">Contact Us</h1>
            <ul class="social-media-links" role="list">
                <li class="social-media-link"><a class="social-media-site" target="_blank" href="https://discord.gg/6pzc7Dny" role="link">Discord</a></li>
                <li class="social-media-link"><a class="social-media-site" target="_blank" href="" role="link">X</a></li>
            </ul>
        </div>
    </div>
</main>
