<header role="banner">
    <nav class="navbar" role="navigation">
        <ul class="nav-links" role="list">
            <li><a href="" class="nav-link link-active" aria-label="Home" role="link">Home</a></li>
            <li><a href="feature" class="nav-link" aria-label="Features" role="link">Features</a></li>
            <li><a href="about_us" class="nav-link" aria-label="About us" role="link">About</a></li>
            <li><a href="contact_us" class="nav-link" aria-label="Contact us" role="link">Contact</a></li>
        </ul>
    </nav>
</header>
<main role="main">
    <div class="container" role="textbox" aria-label="Introducing content">
        <h1 class="title" role="heading">Up To Infinity Incremental</h1>
        <p class="introduction" role="complementary">introduction</p>
        <p class="introduction-content" role="contentinfo">How this game works?</p>
        <p role="definition" class="introduction-content-description">This game works by getting infinities, which you can later use for better upgrades to get better at the game</p>
    </div>
</main>
