<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<meta name="robots" content="noarchive nosnippet">
    	<meta name="author" content="qronexstudio">
    	<meta name="title" content="up to infinity incremental">
    	<meta name="description" content="this website is about explaining how the game works">
    	<meta name="keywords" content="up to infinity incremental,up to infinity incremental roblox,qronexstudio,qronex studio,qronexstudio roblox,qronex studio roblox,incremnetal roblox,qronex devs,qronex_devs,qronex devs roblox,qronex_devs roblox,slakoth devs,slakoth_devs,slakoth devs roblox,slakoth_devs roblox">
    	<!-- Facebook -->
    	<meta property="og:type" content="website" />
    	<meta property="og:url" content="https://uptoinfinityincremental.work.gd/" />
    	<meta property="og:title" content="Up To Infinity Incremental" />
    	<meta property="og:description" content="is a roblox game consisting of an incremental infinity" />
    	<meta property="og:image" content="https://uptoinfinityincremental.work.gd/assets/icon.png" />
    	<!-- Twitter -->
    	<meta property="twitter:card" content="summary_large_image" />
    	<meta property="twitter:url" content="https://uptoinfinityincremental.work.gd/" />
    	<meta property="twitter:title" content="Up To Infinity Incremental" />
    	<meta property="twitter:description" content="is a roblox game consisting of an incremental infinity" />
    	<meta property="twitter:image" content="https://uptoinfinityincremental.work.gd/assets/icon.png" />
    	<meta name="mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-title" content="Up To Infinity Incremental">
		<link rel="icon" type="image/png" href="../../public/image/icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Up To Infinity Incremental</title>
		<link rel="stylesheet" href="/src/styles/global.css?v=1.0" />
		<link rel="stylesheet" href="/src/styles/fonts.css?v=1.0" />
	</head>
	<body>
		<div>
			<slot />
		</div>
	</body>
</html>
